
body{
    background-color: #DCF2F1;
    margin: 0;
}
.container1{
    background-color: #7FC7D9;
    display: flex;
    width: 100%;
}
.logo{
    color:#DCF2F1 ;
    font-size: 71;
    font-family: "Allerta Stencil", sans-serif;
    font-size: 4em;
    padding-left: 10px;
    display: flex;
    align-items: center;

}
.title{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 30px;
    color: #0F1035;
    
}
#name{
    font-size: 5em;
    margin-bottom: 10px;
    padding-bottom: 10px ;
    font-family: "DM Serif Display", serif;
    font-weight: 200;
    letter-spacing: 4px;
    margin-right: 200px;
}
.title h2{
    margin: 5px;
    font-family: "DM Serif Display", serif;
    font-weight: 100;
    font-size: 2em;
    margin-right: 200px;
}
#db,.sur{
    color: #365486;
}

.logo h1{
    margin: 0;    
    font-weight: 100;
    letter-spacing: 10px;
}
.conatiner2{
    display: flex;
    width: 100%;
    margin-top: 150px;
}
.me{
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
}
.me img{
    border-radius: 40%;
}
.photo{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.content{
    width:350px ;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links button{
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    font-weight: 700;
}
.me h2{
    font-family: "Oswald", sans-serif;
    font-size: 80px ;
    line-height: 5px;

}
.me p{
    font-family: "Atkinson Hyperlegible", serif;
    font-size: 25px;
    line-height: 15px;
    color: #545454;
}
.links img:hover{
 height: 60px;
 width: 60px;
}
.links button:hover{
    height: 60px;
    width: 60px;
}
#about{
    text-align: center;
    color: #0F1035;
    margin-top: 150px;
    font-size: 5em;
    font-family: "Oswald", sans-serif; ;
    letter-spacing: 5px;
}
.container3{
    display: flex;

}
.expierience{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #0F1035;
    border-radius: 15%;
    flex-direction: column;
    margin: 10px;
    height: 350px;
    font-family: "Atkinson Hyperlegible", serif;
}

.container3{
    font-size: 1.5em;
}
.expierience h2{
    margin-bottom: 5px;
}
ul{
    list-style-type: none;
}
#abt{
    font-family: "Atkinson Hyperlegible", serif;
    font-size: 1.5em;
    color:#545454 ;
    text-align: center;
}
.container4{
    display: flex;
    justify-content: center;
    padding-top:30px ;
    font-family: "Atkinson Hyperlegible", serif;

}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 1000px;
    gap: 40px;
    align-content: space-around;  

}
.grid-item{
    font-size: 2.5em;
    align-self: stretch;
    display: flex;
    justify-content: center;
    font-weight: 300;
}
.grid-item1{
    font-size: 2.5em;
    align-self: stretch;
    display: flex;
    justify-content: center;
    grid-column: span 2;
}
.grid-item2{
    font-size: 2.5em;
    align-self: stretch;
    display: flex;
    justify-content: center;
    grid-column: span 2;
    
}
#green{
    color: darkgreen;
    font-weight: bold;
}
.container5{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.card{
    width: 18rem;
    font-family:"Oswald", sans-serif; 
    border: 4px solid white;
    padding: 40px;
    border-radius: 17%;
    text-align: center;
    box-shadow: 3px 3px #0F1035, -1em 0 .4em #365486;
}
.card img{
    border-radius: 20%;
}
.card h5{
    font-size: 2rem;
}
.btn{
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 20%;
    padding: 15px;
    font-size: 1.2em;
}
.btn:hover{
    background-color:#7FC7D9;
    color: black;
}
.btn-d{
    background-color: gray;
    text-decoration: none;
    color: black;
    border-radius: 20%;
    padding: 15px;
    font-size: 1.2em;
}
.links2{
    display: flex;
    justify-content: space-around;
}
.container6{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#email, #linkedin{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    
}

#email a, #linkedin a{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-family:"Oswald", sans-serif; 
    font-size: 2em;
}
#email a:hover, #linkedin a:hover{
 text-decoration: underline;
 color: #545454;
}
#projects{
     text-align: center;
    color: #0F1035;
    margin-top: 50px;
    font-size: 5em;
    font-family: "Oswald", sans-serif; ;
    letter-spacing: 5px;
}
.container7{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100px;
    font-size: 1.2em;
    background-color: #7FC7D9;
    font-family: "Atkinson Hyperlegible", serif;
    font-weight: 50;
}
#exp{
    text-align: center;
    margin-right: 10px;
}
@media (max-width: 700px){
    .container3{
        flex-direction: column;
        align-items: center;
    }
    .conatiner2{
        flex-direction: column;
        align-items: center;
    }
    .container5{
        flex-direction: column;
        align-items: center;
    }
    .container4{
        align-items: center;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        width: 480px;
        gap: 20px;
        align-content: space-around;  
    
    }
    .grid-item{
        font-size: 1.5em;
    }
    .grid-item1{
        font-size: 1.5em;
    }
    .grid-item2{
        font-size: 1.5em;
    }
    .grid-container img{
        height: 20px;
        width: 20px;
    }
    .photo{
        display: flex;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
        margin-top: 50px;
        
    }
    .photo img{
        width: 480px;
        margin-top: 50px;
    }
    #email, #linkedin{
        
        margin: 5px;
        font-size: 0.7rem;
}
#email img, #linkedin img{
    height: 25px;
    width: 25px;
    
}

}
@media (max-width: 800px){
    #name{
        font-size: 3.8em;
        margin-right: 0px;
    }
    .title h2{
        margin: 5px;
        font-size: 1.5em;
        margin-right:0px;
    }

}
@media (max-width: 520px){
    #name{
        font-size: 2em;
        margin-right: 0px;
    }
    .title h2{
        margin: 5px;
        font-size: 1em;
        margin-right:0px;
    }

}